.home-ourservice-item{

    text-align: center;
    color:white;
}

.home-ourservice-row{
    margin: 6em;
}

.home-ourservice-item-title {
    font-size: 2.5em;
}

.home-ourservice-item-text {
    font-size: 2em;
}