@import 'styles/typography.scss';
.home-photogallery-section {
    padding: 4em 0em 2em 0em;
    text-align: center;
}

.home-photogallery-text {
    color:white;
    text-align: center;
    font-family: $fontPTSans;
    margin-bottom: 2.5em;
    .home-photogallery-text-title {
        font-size: 37px;
        color: white;
    }
    .home-photogallery-text-text {
        font-size: 21px;
        opacity: 0.9;
    }
}

.ReactGridGallery{
    flex-wrap: wrap;
    display: flex;
    justify-content:center;
}


.ReactGridGallery_tile-viewport {
    img {
      width:400px;
      height: 300px;
      transition: transform 500ms ease;
      &:hover {
        fade: 0.7;
        transform: scale(1.1);
    }
  }
}
