.contact-text-title{
    color: white;
    text-align: center;
    font-size: 3em;
}

.contact-text-panel{
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin: 1em;
}

.contact-container{
    margin-top: 8em;
}