.home-photogallery-section {
    margin-top: 8em;
    text-align: center;
}

.home-photogallery-text {
    margin: 4em;
    color:white;
    text-align: center;
}
.home-photogallery-text-title {
    font-size: 3.5em;
}
.home-photogallery-text-text {
    font-size: 2em;
}
