.demande-container{
    margin-top: 6em;
    margin-bottom: 2em;
    max-width: 800px;
}

.demande-title {
    text-align: center;
    font-size: 3em;
    color: white;
}

.demande-input {
    width:100%;

}
.demande-valid-container {
    width: 100%;
    height: 1.5em;
}
