.header-nav  {
    background-color: rgba(0,0,0,0.5);
    font-size: 1.2em;
    padding: 0;
}

.dropdown-menu {
    background-color: rgba(0,0,0,0.5);
    font-size: 1em;
}

.dropdown-item{
    color:white;
}

.dropdown-item:hover{
    background-color: rgba(0,0,0,0.5);
    color:grey;
}

.header-img{
    object-position:50% 50%;
    width:132px;
    height:68px;
    object-fit:cover
}

.nav-link, .nav-item{
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding: 0;
}


